<!-- BEGIN_INCLUDE(xero:get-accounts-list) -->
    <xero:get-accounts-list filterString="null"/>
<!-- END_INCLUDE(xero:get-accounts-list) -->

<!-- BEGIN_INCLUDE(xero:get-account) -->
    <xero:get-account accountId="ACCOUNT_ID"/>
<!-- END_INCLUDE(xero:get-account) -->

<!-- BEGIN_INCLUDE(xero:get-invoices-list) -->
    <xero:get-invoices-list/>
<!-- END_INCLUDE(xero:get-invoices-list) -->

<!-- BEGIN_INCLUDE(xero:get-invoice) -->
    <xero:get-invoice invoiceId="INVOICE_ID"/>
<!-- END_INCLUDE(xero:get-invoice) -->

<!-- BEGIN_INCLUDE(xero:create) -->
    <xero:create objectType="Invoice" payload="<xml/>"/>
<!-- END_INCLUDE(xero:create) -->